<template>
  <div
    class="v-focal opacity-transition"
    :class="{
      'v-focal--focaled': isFocal && mode,
      'v-focal--unfocaled': !isFocal && mode
    }"
    @mouseover="mouseover"
    @mouseleave="mouseleave"
  >
    <slot>
    </slot>
  </div>
</template>

<script>
import * as VFocalModule from '../modules/v-focal'

export default {
  name: 'VFocal',
  props: {
    moduleName: {
      type: String,
      default: 'VFocal'
    },
    isFocal: {
      type: Boolean,
      default: true
    },
    isSilent: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    hasModule() {
      let vuexHasModule = this.$store.hasModule(this.moduleName) === true
      let doubleCheck = (this.$store.state && this.$store.state[this.moduleName] !== undefined)
      return vuexHasModule && doubleCheck
    },
    register() {
      if (!this.hasModule()) {
        try {
          if (!this.hasModule()) {
            this.$store.registerModule(this.moduleName, VFocalModule, { preserveState: false })
          }
        } catch (e) {
          if (!this.isSilent) {
            console.error(e)
          }
        } finally {
          this.$emit('register:v-focal')
        }
      }
    },
    unregister() {
      if (this.hasModule()) {
        try {
          if (this.hasModule()) {
            this.$store.unregisterModule(this.moduleName)
          }
        } catch (e) {
          if (!this.isSilent) {
            console.error(e)
          }
        } finally {
          this.$emit('unregister:v-focal')
        }
      }
    },
    mouseover() {
      try {
        if (!this.isFocal) {
          this.$store.dispatch(`${this.moduleName}/clearFocalMode`)
          return
        }
        this.$store.dispatch(`${this.moduleName}/focalMode`)
      } catch (e) {
        console.error(e)
      } finally {

      }
    },
    mouseleave() {
      try {
        if (!this.isFocal) return
        this.$store.dispatch(`${this.moduleName}/clearFocalMode`)
      } catch (e) {
        console.error(e)
      } finally {

      }
    }
  },
  computed: {
    mode() {
      if (this.hasModule()) {
        return this.$store.state[this.moduleName].focalMode
      }
      return false
    },
  },
  created() {
    this.register()
  },
  mounted() {
    if (!this.hasModule()) {
      try {
        this.register()
      } catch (e) {

      } finally {

      }
    }
  },
  beforeDestroy() {
    try {
      this.unregister()      
    } catch (e) {

    } finally {

    }
  },
}
</script>

<style lang="css">
.v-focal {
  opacity: 1;
}

.v-focal--focaled {
  opacity: 1
}

.v-focal--unfocaled {
  opacity: 0.25;
}

.opacity-transition {
  transition: opacity .5s ease-out;
}

.invisible {
  display: none;
  opacity: 0;
  max-width: 0px;
  max-height: 0px;
}
</style>
