<template>
  <v-row>
    <!-- <client-only> -->
      <v-col cols="12">
        <h4 class="title">
          VFocal allows you to easily wrap certain areas of your app such that
          hovering on them, results in other areas dimming.
        </h4>
        <v-row class="justify-space-around">
          <VFocal>
            <v-col cols="6">
              <v-card min-width="200" min-height="200" class="blue">
                <v-card-title primary-title>
                  Focus Area
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
          <VFocal :isFocal="false">
            <v-col cols="6" >
              <v-card min-width="200" min-height="200" class="black">
                <v-card-title primary-title class="white--text">
                  Not Focus Area
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
        </v-row>
      </v-col>


      <v-col cols="12">
        <h4 class="title">
          By specifying the <code>moduleName</code> you have even have multiple
          instances of dimming components, i.e. hovinging on the Focus Areas
          below will not affect the Not Focus Area above.
          In addition, as seen below you can have mutliple Focus Areas linked
          to multiple Not Focus Areas
        </h4>
        <v-row class="justify-space-around">
          <VFocal :moduleName="'focus-2'">
            <v-col cols="3" >
              <v-card min-width="200" min-height="200" class="blue">
                <v-card-title primary-title>
                  Focus Area
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
          <VFocal :isFocal="false" :moduleName="'focus-2'">
            <v-col cols="3" >
              <v-card min-width="200" min-height="200" class="black">
                <v-card-title primary-title class="white--text">
                  Not Focus Area
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
          <VFocal :isFocal="true" :moduleName="'focus-2'">
            <v-col cols="3" >
              <v-card min-width="200" min-height="200" class="blue">
                <v-card-title primary-title>
                  Focus Area
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
          <VFocal :isFocal="false" :moduleName="'focus-2'">
            <v-col cols="3" >
              <v-card min-width="200" min-height="200" class="black">
                <v-card-title primary-title class="white--text">
                  Not Focus Area
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
        </v-row>
      </v-col>

      <v-col cols="12">
        <h4 class="title">
          While the above two cases will handle most instances, you may want
          what is focusable to be <i>dynamic</i>. Hover on one of these
          cards to switch which is the focus
        </h4>
        <v-row class="justify-space-around">
          <VFocal
            v-for="i in 4"
            :key="`focus-area-${i}`"
            :moduleName="'focus-3'"
            :isFocal="isFocalIndex === i-1"
          >
            <v-col cols="3" @mouseover="isFocalIndex = i-1">
              <v-card
                min-width="200" min-height="200"
                :class="{
                  blue: isFocalIndex === i-1,
                  black: isFocalIndex !== i-1
                }"
              >
                <v-card-title primary-title
                  :class="{'white--text':isFocalIndex !== i-1 }"
                >
                  {{isFocalIndex === i-1 ? 'Focus Area' : 'Not Focus Area'}}
                </v-card-title>
              </v-card>
            </v-col>
          </VFocal>
        </v-row>
      </v-col>
    <!-- </client-only> -->
  </v-row>
</template>

<script>
import {VFocal} from '../dist/v-focal.ssr'

export default {
  components: {
    VFocal
  },
  data: () => ({
    isFocalIndex:0
  }),

  mounted() {
  }
}
</script>


<style>
</style>
